<footer class="footer-video-container position-relative text-white">

    <div class="footer-section">
        <div class="row text-center text-md-start">

            <div class="col-12 col-md-12 col-lg-3 mb-5 mt-4 gy-4">
                <img src="{{ site.baseurl }}/assets/images/logo-white.png" alt="element"
                     style="height: 78px !important;">
                &nbsp&nbsp
                <img src="{{ site.baseurl }}/assets/images/logo-text-white.png" alt="element"
                     style="height: 33px !important;">

            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="fw-bold footer-title">POLICY</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Terms and Conditions</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="fw-bold footer-title">CONTACT</h5>
                <p style="font-weight: bold">Email:
                    <a href="mailto:agency@element-jsc.com"
                       class="text-white text-decoration-none">agency@element-jsc.com</a>
                </p>
            </div>

            <div class="col-12 col-md-12 col-lg-3">
                <h5 class="fw-bold footer-title">CONNECT</h5>
                <div class="d-flex justify-content-center justify-content-md-start gap-3 fs-5">
                    <a href="https://www.facebook.com/elementvn2512/" target="_blank" class="social-icon text-white"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon text-white"><i class="fab fa-linkedin-in"></i></a>
                    <a href="mailto:agency@element-jsc.com" class="social-icon text-white"><i
                            class="fas fa-envelope"></i></a>
                </div>
            </div>

        </div>

        <div class="row text-center mt-4">
            <div class="col-12 col-lg-6">
                <div class="text-center opacity-75 footer-title-sub">
                    ELEMENT CONSULTANT & COMMUNICATION CO., LTD
                </div>
            </div>

            <div class="d-sm-none d-lg-block col-12 col-lg-6">
                <div class="text-center opacity-75 footer-title-sub">
                    <a href="mailto:agency@element-jsc.com"
                       class="text-white text-decoration-none">agency@element-jsc.com</a>
                </div>
            </div>

        </div>

    </div>
</footer>