<style>
    .footer-container {
        background-image: url('{{ site.baseurl }}/assets/images/bg/bg4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        position: relative;
        height: 450px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-title {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
    }

    .footer-title-sub {
        font-size: 20px;
        color: #fff;
        margin-top: 80px;
        text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white;
    }

    .footer-section {
        z-index: 2;
        position: relative;
        width: 80%;
    }

    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        background-color: black;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s ease;
        font-size: 18px;
    }

    .social-icon:hover {
        background-color: #fff;
        color: #000 !important;
        transform: scale(1.1);
    }

    .footer-text {
        font-size: 20px;
        font-weight: 550;
        color: #fff;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }

    @media (max-width: 1200px) {
        .footer-container {
            height: 800px;
            max-height: 800px;
        }
    }

    @media (max-width: 800px) {
        .footer-container {
            height: 800px;
            max-height: 800px;
        }
    }

</style>

<footer class="footer-container text-white">

    <div class="footer-section">
        <div class="row text-center text-md-start">

            <div class="col-12 col-md-12 col-lg-3 mb-5 mt-4 gy-4">
                <img src="{{ site.baseurl }}/assets/images/logo-white.png" alt="element"
                     style="height: 78px !important;">
                &nbsp&nbsp
                <img src="{{ site.baseurl }}/assets/images/logo-text-white.png" alt="element"
                     style="height: 33px !important;">

            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="fw-bold footer-title">POLICY</h5>
                <ul class="list-group">
                    <li><a href="{{ site.baseurl }}/policy/" class="footer-text text-white text-decoration-none">Privacy
                        Policy</a></li>
                    <li><a href="{{ site.baseurl }}/terms-and-conditions/"
                           class="footer-text text-white text-decoration-none">Terms and Conditions</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="fw-bold footer-title">CONTACT</h5>
                <ul class="list-group">
                    <li>
                        <div class="footer-text">Email:
                            <a href="mailto:agency@element-jsc.com"
                               class="text-white text-decoration-none">agency@element-jsc.com</a>
                        </div>
                    </li>
                    <li><a href="{{ site.baseurl }}/contact/" class="footer-text text-white text-decoration-none">For
                        More...</a></li>

                </ul>

            </div>

            <div class="col-12 col-md-12 col-lg-3">
                <h5 class="fw-bold footer-title">CONNECT</h5>
                <div class="d-flex justify-content-center justify-content-md-start gap-3 fs-5">
                    <a href="https://www.facebook.com/elementvn2512/" target="_blank" class="social-icon text-white"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon text-white"><i class="fab fa-linkedin-in"></i></a>
                    <a href="mailto:agency@element-jsc.com" class="social-icon text-white"><i
                            class="fas fa-envelope"></i></a>
                </div>
            </div>

        </div>

        <div class="row text-center mt-4">
            <div class="col-12 col-lg-6">
                <div class="text-center opacity-75 footer-title-sub">
                    ELEMENT CONSULTANT & COMMUNICATION CO., LTD
                </div>
            </div>

            <div class="d-sm-none d-lg-block col-12 col-lg-6">
                <div class="text-center opacity-75 footer-title-sub">
                    <a href="mailto:agency@element-jsc.com"
                       class="text-white text-decoration-none">agency@element-jsc.com</a>
                </div>
            </div>

        </div>

    </div>
</footer>