<style>
    .footer-container {
        background-image: url('{{ site.baseurl }}/assets/images/bg/bg4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        position: relative;
        height: 450px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 1200px) {
        .footer-container {
            height: 800px;
            max-height: 800px;
        }
    }

    @media (max-width: 800px) {
        .footer-container {
            height: 900px;
            max-height: 900px;
        }
    }

</style>

<footer class="footer-container text-white">

    {% include footer-sub-item.html %}

</footer>