<style>
    .footer-title {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
    }

    .footer-title-sub {
        font-size: 20px;
        color: #fff;
        margin-top: 40px;
    }

    .footer-section {
        z-index: 2;
        position: relative;
        width: 80%;
    }

    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        background-color: black;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s ease;
        font-size: 18px;
    }

    .social-icon:hover {
        background-color: #fff;
        color: #000 !important;
        transform: scale(1.1);
    }

    .footer-text {
        font-size: 20px;
        font-weight: 550;
        color: #fff;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }

    @media (max-width: 1200px) {
        .footer-title-sub {
            font-size: 15px;
            color: #fff;
            margin-top: 30px;
        }
    }

    @media (max-width: 800px) {
        .footer-title-sub {
            font-size: 12px;
            color: #fff;
            margin-top: 30px;
        }
    }

</style>

<div class="footer-section">
    <div class="row text-center">

        <div class="col-12 col-md-12 col-lg-3 mb-5 animate__animated" data-animation="animate__fadeIn" data-delay="0.2">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="{{ site.baseurl }}/assets/images/logo-white.png" alt="element"
                     style="height: 78px !important;">
                <img src="{{ site.baseurl }}/assets/images/logo-text-white.png" alt="element"
                     style="height: 33px !important; margin-top: 10px;">
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <h5 class="fw-bold footer-title animate__animated" data-animation="animate__fadeIn" data-delay="0.2">
                POLICY
            </h5>
            <ul class="list-unstyled animate__animated" data-animation="animate__fadeInUp" data-delay="0.6">
                <li><a href="{{ site.baseurl }}/policy/" class="footer-text text-white text-decoration-none">
                    <i class="fas fa-link"></i>
                    Privacy Policy</a>
                </li>
                <li class="mt-2">
                    <a href="{{ site.baseurl }}/terms-and-conditions/"
                       class="footer-text text-white text-decoration-none">
                    <i class="fas fa-link"></i>
                    Terms and Conditions</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <h5 class="fw-bold footer-title animate__animated" data-animation="animate__fadeIn" data-delay="0.2">
                CONTACT
            </h5>
            <ul class="list-unstyled animate__animated" data-animation="animate__fadeInUp" data-delay="0.6">
                <li>
                    <div class="footer-text">
                        <i class="fas fa-mail-bulk"></i>
                        Email:
                        <a href="mailto:agency@element-jsc.com"
                           class="text-white text-decoration-none">agency@element-jsc.com</a>
                    </div>
                </li>
                <li class="mt-2">
                    <a href="{{ site.baseurl }}/contact/" class="footer-text text-white text-decoration-none">
                    <i class="fas fa-link"></i>
                    For More...</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-12 col-lg-2">
            <div class="d-flex flex-column align-items-center text-center">
                <h5 class="fw-bold footer-title animate__animated" data-animation="animate__fadeIn" data-delay="0.2">
                    CONNECT
                </h5>
                <div class="d-flex justify-content-center gap-3 fs-5">
                    <a href="https://www.facebook.com/elementvn2512/" target="_blank"
                       class="social-icon text-white animate__animated" data-animation="animate__fadeInUp"
                       data-delay="0.6">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#"
                       class="social-icon text-white animate__animated" data-animation="animate__fadeInUp"
                       data-delay="0.8">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="mailto:agency@element-jsc.com"
                       class="social-icon text-white animate__animated" data-animation="animate__fadeInUp"
                       data-delay="1">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row text-center mt-2">
        <div class="col-12 col-lg-6">
            <div class="desc-font text-center opacity-75 footer-title-sub animate__animated" data-animation="word-fade-in"
                 data-delay="0.2">
                ELEMENT CONSULTANT & COMMUNICATION CO., LTD
            </div>
        </div>

        <div class="d-sm-none d-lg-block col-12 col-lg-6">
            <div class="text-center opacity-75 footer-title-sub">
                <a href="mailto:agency@element-jsc.com"
                   class="desc-font text-white text-decoration-none animate__animated" data-animation="animate__fadeInRight"
                   data-delay="0.2">
                    agency@element-jsc.com
                </a>
            </div>
        </div>

    </div>

</div>
