<style>
    body[data-topbar=dark] #page-topbar {
        background: black;
    }

    .page-trigger {
        color: #3bd5e3;
    }

    .dropdown-menu {
        background: black;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: white !important;
    }

    .dropdown-item {
        font-size: 18px !important;
    }

    .cs-nav-title {
        font-weight: 400 !important;
        font-size: 18px !important;
    }

</style>

<header id="page-topbar">
    <div class="navbar-header position-relative">
        <div class="d-flex">
            <div class="navbar-brand-box">
                <a href="{{ site.baseurl }}/" class="logo logo-light" style="line-height: 0 !important;">
                    <div class="ms-3 d-flex align-items-center">
                        <img src="{{ site.baseurl }}/assets/images/logo-white.png" alt="Element"
                             style="height: 30px !important;">
                        <img src="{{ site.baseurl }}/assets/images/logo-text-white.png" alt="Element"
                             style="height: 20px !important; margin-left: 6px;">
                    </div>
                </a>
            </div>

        </div>

        <div class="d-flex">
            <div class="dropdown d-none d-lg-inline-block ms-4">
                <button type="button" class="btn header-item waves-effect"
                        onclick="window.location.href='{{ site.baseurl }}/'">
                    <a href="{{ site.baseurl }}/" class="text-white text-decoration-none">
                        <span id="home-nav" class="cs-nav-title desc-font">
                            Home
                        </span>
                    </a>
                </button>
            </div>
            <div class="dropdown d-none d-lg-inline-block ms-4">
                <button type="button" class="btn header-item waves-effect"
                        onclick="window.location.href='{{ site.baseurl }}/service/'">
                    <a href="{{ site.baseurl }}/service/" class="text-white text-decoration-none">
                        <span id="service-nav" class="cs-nav-title desc-font">Our Services</span>
                    </a>
                </button>
            </div>

            <div class="dropdown d-none d-lg-inline-block ms-4">
                <button type="button" class="btn header-item dropdown-toggle waves-effect" id="topnav-project"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="project-nav" class="cs-nav-title desc-font">Our Projects</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end px-2" aria-labelledby="topnav-project">
                    <a class="dropdown-item text-white" href="{{ site.baseurl }}/project/#IMC-Campaign">IMC Campaign</a>
                    <a class="dropdown-item text-white" href="{{ site.baseurl }}/project/#Production">Production</a>
                    <a class="dropdown-item text-white" href="{{ site.baseurl }}/project/#Event">Event</a>
                </div>
            </div>

            <div class="dropdown d-none d-lg-inline-block ms-4">
                <button type="button" class="btn header-item waves-effect"
                        onclick="window.location.href='{{ site.baseurl }}/contact/'">
                    <a href="{{ site.baseurl }}/contact/" class="text-white text-decoration-none">
                        <span id="contact-nav" class="cs-nav-title desc-font">Contact</span>
                    </a>
                </button>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item" data-bs-toggle="collapse"
                    data-bs-target="#topnav-menu-content">
                <i class="fas fa-bars align-middle" style="font-size: 40px"></i>
            </button>

        </div>

    </div>

    <nav class="d-lg-none">
        <div class="collapse navbar-collapse" id="topnav-menu-content">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/">
                        <div class="text-white text-center" style="font-size: 20px; font-style: inherit">Home</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/service/">
                        <div class="text-white text-center" style="font-size: 20px; font-style: inherit">Our Services
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/project/">
                        <div class="text-white text-center" style="font-size: 20px; font-style: inherit">Our Projects
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/contact/">
                        <div class="text-white text-center" style="font-size: 20px; font-style: inherit">Contact</div>
                    </a>
                </li>

            </ul>
        </div>
    </nav>

</header>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const projectButton = document.getElementById('topnav-project');

        projectButton.addEventListener('mouseenter', function () {
            projectButton.click();
        });

        const dropdownMenu = document.querySelector('#topnav-project + .dropdown-menu');
        if (dropdownMenu) {
            dropdownMenu.addEventListener('mouseleave', function () {
                projectButton.click();
            });
        }
    });
</script>
