.hero-title {
    width: 100%;
    color: white;
    font-weight: 900;
    font-family: Arial, sans-serif;
}

.custom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.lg-title-white {
    background: white;
    display: inline-block;
    padding: 20px 50px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 30px;
    color: black;
    font-family: Arial, sans-serif;
}

@media (max-width: 1200px) {

}

@media (max-width: 800px) {
    .lg-title-white {
        width: auto !important;
        font-size: 18px;
        padding: 15px 20px;
        margin: 0 auto;
    }

    .small-header {
        margin: auto !important;
    }
}
