* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero-title-wrapper {
    display: inline-block;
    padding: 20px 50px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.hero-title {
    display: block;
    max-width: 400px;
    height: auto;
}

.hero-description {
    margin: 20px auto;
    font-size: 18px;
}

.contact-btn {
    color: white;
    padding: 15px 40px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 2px 5px 10px rgb(244, 241, 238, 0.3);
    backdrop-filter: blur(3px);
    transform: translate(0px, 0px) rotate(0deg);
}

.contact-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.footer-note {
    margin-top: 150px;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white;
}

.why-container {
    position: relative;
    background: black url('../images/bg/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 30px 0;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.why-we-were-born {
    margin: 0 auto;
    padding: 40px;
}

.lg-title-black {
    background: black;
    display: inline-block;
    padding: 20px 50px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.3);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.xlg-title-black {
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 20px 50px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.3);
    font-size: 25px;
    font-weight: 900;
    width: 500px;
    margin-bottom: 30px;
    color: white;
}

.why-we-were-born p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}

.text-block {
    text-align: justify;
    max-width: 700px;
    color: white;
    font-size: 20px;
    text-justify: inter-word;
    margin: 0 auto;
}

.partner-container {
    position: relative;
    background: black url('../images/bg/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 30px 0;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.partner-section {
    margin: 0 auto;
    padding: 40px;
}

.element-section {
    width: 60%;
    margin: 0 auto;
}

.card {
    border-radius: 30px;
}

.custom-card {
    position: relative;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-title-custom {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
}

.card-label {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 50%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    z-index: 2;
    border-radius: 25px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.element-bg-image {
    touch-action: pan-x pan-y pinch-zoom;
    width: 700px;
    height: 700px;
    opacity: 0.06;
    position: absolute;
    transform: translate(-50%, -20%);
}

.stats-title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.stat-button {
    background-color: rgba(67, 114, 188, 0.6);
    border: none;
    color: white;
    width: 180px;
    border-radius: 25px;
    padding: 20px 25px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.partner-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: contain;
    padding: 10px;
    transition: transform 0.3s ease;
}

.partner-logo:hover {
    transform: scale(1.1);
}

.footer-video-container {
    position: relative;
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa chiều ngang nếu cần */
}

@media (max-width: 1200px) {
    .footer-video-container {
        height: 800px;
        max-height: 800px;
    }
}

@media (max-width: 800px) {
    .footer-video-container {
        height: 800px;
        max-height: 800px;
    }

    .xlg-title-black {
        width: 300px;
    }

    .element-bg-image {
        display: none;
    }

    .element-section {
        width: 100%;
    }

}