.hero-section {
    margin-top: 70px;
    background-image: url('../images/bg/bg7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    min-height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* căn giữa theo chiều dọc */
}

[id] {
    scroll-margin-top: 120px;
}

#IMC-Campaign {
    scroll-margin-top: 500px;
}

.custom-card {
    border-radius: 100px;
    overflow: hidden;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    color: white;
    position: relative;
}

.image-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-img {
    border-radius: 30px;
    max-width: 85%;
    height: 300px;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    font-size: 1rem;
}

.card-content strong {
    font-weight: 700;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.card-content {
    position: relative;
    z-index: 1;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Sansation', sans-serif;
}

.card-subtitle-blue {
    color: rgb(71, 97, 182);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Sansation', sans-serif;
}

.card-subtitle-black {
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Sansation', sans-serif;
}

.card-subtitle-green {
    color: #28693d;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Sansation', sans-serif;
}

.card-cus-text {
    font-size: 1.2rem;
    color: #f0f0f0;
    font-weight: 500;
    font-family: 'Sansation', sans-serif;
}

.card-cus-text-black {
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    font-family: 'Sansation', sans-serif;
}

.card-cus-text-blue {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Sansation', sans-serif;
    color: rgb(71, 97, 182);
}

.card-cus-text-green {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Sansation', sans-serif;
    color: #28693d;
}

.lg-title-white {
    width: 400px;
    text-align: center;
}

.video-container {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    color: white;
}

.title {
    font-size: 5vw;
    font-weight: bold;
    transform: translate(0px, 0px) rotate(0deg);
}

.tabs-row {
    margin-top: 40px;
}

.tab {
    background: rgba(0, 0, 0, 0.13);
    display: inline-block;
    padding: 20px 50px;
    border-radius: 30px;
    box-shadow: 2px 5px 10px rgb(244, 241, 238, 0.3);
    font-size: 22px;
    font-weight: 900;
    color: white;
    margin: 10px 20px;
    transform: translate(0px, 0px) rotate(0deg);
    font-family: 'Sansation', sans-serif;
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
}

.logo-bg-image {
    position: absolute;
    overflow: hidden;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700vh;
    opacity: 0.06;
    z-index: -1;
    clip-path: inset(200px 200px 200px 200px);
}

.video-bg::-webkit-media-controls-start-playback-button {
    display: none !important;
}

.video-bg::-webkit-media-controls-start-playback-button {
    display: none !important;
}