body {
    background-color: #ffffff !important;
}

.hero-section {
    margin-top: 70px;
    background-image: url('../images/bg/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    min-height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* căn giữa theo chiều dọc */
}

.commit-container {
    width: 80%;
}

.commit-title {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.commit-title-text {
    font-size: 18px;
    color: #000000;
    line-height: 1.5;
}

.fire-box {
    background-image: url('../images/element/fire.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    border-radius: 25px;
    height: 240px;
}

.water-box {
    background-image: url('../images/element/water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    border-radius: 25px;
    height: 240px;
}

.earth-box {
    background-image: url('../images/element/earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    border-radius: 25px;
    height: 240px;
}

.wind-box {
    background-image: url('../images/element/wind.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    border-radius: 25px;
    height: 240px;
}

.fire-box .overlay,
.water-box .overlay,
.earth-box .overlay,
.wind-box .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
    border-radius: 25px;
}

.fire-box .overlay-content,
.water-box .overlay-content,
.earth-box .overlay-content,
.wind-box .overlay-content {
    position: relative;
    z-index: 2;
}

.fire-box:hover .overlay,
.water-box:hover .overlay,
.earth-box:hover .overlay,
.wind-box:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.fire-box:hover,
.water-box:hover,
.earth-box:hover,
.wind-box:hover {
    cursor: pointer;
}

.element-box-title {
    font-weight: bold;
    color: #ffffff;
    padding-left: 30px;
    font-size: 60px;
    text-shadow: 1px 0 white, 0 1px white, -1px 0 white, 0 -1px white;
}

.element-box-item {
    font-weight: 900;
    color: #ffffff;
    font-size: 25px;
}

.our-project-btn {
    color: rgba(0, 0, 0, 0.6);
    padding: 15px 40px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    transform: translate(0px, 0px) rotate(0deg);
    font-family: Arial, sans-serif;
}

.our-project-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

@media (max-width: 1200px) {
    .fire-box {
        height: 400px;
    }

    .water-box {
        height: 400px;
    }

    .earth-box {
        height: 400px;
    }

    .wind-box {
        height: 400px;
    }

    .element-box-title {
        padding-left: 30px;
        font-size: 40px;
    }

}