<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% include common-css.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/contact.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common-style.css">

</head>
<body data-topbar="dark" data-layout="horizontal">
{% include header.html %}
<div class="custom-overlay"></div>

<div class="hero-section d-flex align-items-center text-start">
    <div class="container">
        <div class="display-1 text-start hero-title animate__animated" data-animation="word-fade-in" data-delay="0.2">
            CONTACT
        </div>
    </div>
</div>

<section class="contact-section">
    <div class="container">
        <div class="row g-4 align-items-start">
            <div class="text-center col-12 col-lg-5 animate__animated" data-animation="animate__fadeInUp" data-delay="0.2">
                <div class="info-header">INFORMATION</div>
                <div class="mt-3 info-line">PHONE:
                    <span class="info-text">(+84) 08 777 4242 6</span>
                </div>
                <div class="info-line">EMAIL:
                    <span class="info-text">agency@element-jsc.com</span>
                </div>
                <div class="mt-5 info-line">ADDRESS:</div>
                <div class="info-line">
                    <div class="info-text">7A NGÕ 52 NGỌC LÂM</div>
                    <div class="info-text">PHƯỜNG BỒ ĐỀ,</div>
                    <div class="info-text">TP. HÀ NỘI</div>
                </div>
            </div>

            <div class="col-12 col-lg-7 animate__animated" data-animation="animate__fadeInUp" data-delay="0.4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.702415009545!2d105.8678612!3d21.0445899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4467cd3d0f%3A0xf05eb2f5d72f40bc!2sGood%20Hair%20Day%20-%20Hair%20Studio%20By%20HairZone!5e0!3m2!1svi!2s!4v1753756057840!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen=""
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

<section class="py-5 text-center">
    <div class="container">
        <h5 class="text-uppercase mb-3 outro-sub-header animate__animated" data-animation="animate__fadeInUp" data-delay="0.2">
            Triết lý về sự</h5>
        <h2 class="display-5 text-uppercase mb-4 outro-header  animate__animated" data-animation="animate__fadeInUp" data-delay="0.4">
            Cân bằng hoàn hảo</h2>

        <div class="mb-5 row justify-content-center">
            <div class="col-lg-10">
                <p class="desc-font outro-text animate__animated" data-animation="animate__fadeInUp" data-delay="0.6">
                    Tại Element Agency, chúng tôi không tin vào những giải pháp đơn lẻ.
                    Một ý tưởng rực rỡ (Lửa) sẽ sớm lụi tàn nếu thiếu đi nền tảng chiến lược (Đất).
                    Một chiến lược vững chắc (Đất) sẽ trở nên vô nghĩa nếu không thể lan tỏa (Khí).
                    Sự lan tỏa (Khí) sẽ mất phương hướng nếu không thấu hiểu dòng chảy thị trường (Nước).
                </p>

                <p class="desc-font mt-4 outro-text  animate__animated" data-animation="animate__fadeInUp" data-delay="0.8">
                    Thành công của một thương hiệu đến từ sự kết hợp hài hòa của cả bốn nguyên tố.
                    Triết lý của chúng tôi là trở thành bậc thầy của sự cân bằng, phối hợp nhuần nhuyễn
                    Lửa - Nước - Khí - Đất để tạo ra một 'hợp chất' truyền thông độc nhất, mạnh mẽ và dành riêng cho các
                    bạn.
                </p>
            </div>
        </div>
    </div>
</section>


{% include footer.html %}

</body>

{% include common-js.html %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const activeNav = document.getElementById('contact-nav');
        if (activeNav) {
            activeNav.classList.add('page-trigger');
        }
    });
</script>

</html>


