<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% include common-css.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body data-topbar="dark" data-layout="horizontal">
{% include header.html %}

<div class="video-container">
    <video class="video-bg" autoplay muted loop playsinline>
        <source src="{{ site.baseurl }}/assets/video/element.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <section class="hero-section">
        <div class="hero-content">
            <p style="font-size: 18px; font-weight: 700">Welcome to</p>
            <div class="hero-title-wrapper">
                <img class="hero-title" src="{{ site.baseurl }}/assets/images/logo-text-white.png" alt="Element">
            </div>

            <p class="hero-description">
                Chúng tôi hiểu rằng việc tìm kiếm một đối tác có thể vừa đưa ra ý tưởng đột phá, <br>
                vừa đảm bảo triển khai hiệu quả là một thách thức.<br>
                Chúng tôi ở đây để giải quyết điều đó.
            </p>
            <a href="{{ site.baseurl }}/" class="contact-btn mt-4">
                Contact us
            </a>

            <div class="footer-note">
                ELEMENT CONSULTANT & COMMUNICATION CO., LTD
            </div>
        </div>
    </section>
</div>

<div class="why-container">

    <section class="why-we-were-born">
        <h1 class="lg-title-black">WHY WE WERE BORN</h1>
        <div class="mt-2">
            <p class="text-block">Năm 2024, chúng tôi nhận ra một điều quen thuộc trên thị trường: các thương hiệu
                thường
                phải làm việc với
                nhiều agency khác nhau để có một chiến dịch trọn vẹn. Một agency sáng tạo cho ý tưởng, một agency khác
                lo về
                chiến lược, một bên thứ ba phụ trách triển khai. Quá trình này rời rạc và thiếu đi sự nhất quán.</p>
            <p class="text-block">Element Agency ra đời từ mong muốn tạo ra một mô hình tinh gọn và hiệu quả hơn. Chúng
                tôi
                tin rằng sức mạnh
                thực sự nằm ở sự kết hợp.</p>
        </div>
        <div style="margin-top: 80px">
            <a href="{{ site.baseurl }}/contact/" class="contact-btn">
                Contact us
            </a>
        </div>
    </section>

</div>


<div class="partner-container">

    <section class="partner-section">
        <h1 class="xlg-title-black">FOUR CORE STRENGTHS</h1>
        <div>
            <img src="{{ site.baseurl }}/assets/images/bg/bg-logo.png" alt="Element Logo" class="element-bg-image">
        </div>
        <div class="mt-2" style="margin-bottom: 70px">
            <p class="text-block text-center" style="margin: 0 auto; max-width: 900px;">
                Tên gọi 'Element' lấy cảm
                hứng từ bốn nhà sáng lập và cũng là
                bốn trụ cột trong phương
                pháp làm
                việc của chúng tôi. Mỗi người đại diện cho một 'nguyên tố' thiết yếu:</p>
        </div>

        <div class="row element-section">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card custom-card"
                     style="background-image: url('{{ site.baseurl }}/assets/images/element/fire.jpg');">
                    <div class="card-overlay"></div>
                    <div class="card-title-custom">FIRE</div>
                    <div class="card-label">01 / Marketing</div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card custom-card"
                     style="background-image: url('{{ site.baseurl }}/assets/images/element/water.jpg');">
                    <div class="card-overlay"></div>
                    <div class="card-title-custom">WATER</div>
                    <div class="card-label">02 / Event & Communication</div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card custom-card"
                     style="background-image: url('{{ site.baseurl }}/assets/images/element/earth.jpg');">
                    <div class="card-overlay"></div>
                    <div class="card-title-custom">EARTH</div>
                    <div class="card-label">03 / Production</div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card custom-card"
                     style="background-image: url('{{ site.baseurl }}/assets/images/element/wind.jpg');">
                    <div class="card-overlay"></div>
                    <div class="card-title-custom">AIR</div>
                    <div class="card-label">04 / Technology</div>
                </div>
            </div>
        </div>

        <div style="margin-top: 50px">
            <a href="{{ site.baseurl }}/service/" class="contact-btn">
                For more
            </a>
        </div>

    </section>

    <section class="partner-section">
        <h1 class="xlg-title-black" style="margin-top: 100px;">OUR CLIENTS</h1>
        <div class="mt-2" style="margin-bottom: 70px">
            <p class="text-block text-center" style="margin: 0 auto; max-width: 900px;">
                Trong năm 2025, chúng tôi đã hoàn thành
            </p>
        </div>
        <div class="container">
            <!-- Stats Row -->
            <div class="row mb-5 justify-content-center">
                <div class="mt-2 col-12 col-md-5">
                    <h1 class="fw-bold display-6 stats-title">400+</h1>
                    <button class="stat-button">Dự án</button>
                </div>
                <div class="mt-2 col-12 col-md-5">
                    <h1 class="fw-bold display-6 stats-title">50+</h1>
                    <button class="stat-button">Khách hàng</button>
                </div>
            </div>

            <div class="row justify-content-center g-4">
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/viettel-money.png" alt="viettel"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/vff.png" alt="vff"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/yadea.jpg" alt="yadea"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/seabank.png" alt="seabank"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/pvcombank.png" alt="pvcombank"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/xiaomi.png" alt="xiaomi"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/vtv7.png" alt="vtv7"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/sony-music.png" alt="sony"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/toto.png" alt="toto"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/htc-itc.png" alt="htc"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/vtv-cab-news.png" alt="vtvcab"
                         class="partner-logo mx-auto d-block">
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                    <img src="{{ site.baseurl }}/assets/images/client/panasonic.png" alt="panasonic"
                         class="partner-logo mx-auto d-block">
                </div>
            </div>
        </div>

        <div style="margin-top: 100px; margin-bottom: 50px">
            <a href="{{ site.baseurl }}/project/" class="contact-btn">
                Our project
            </a>
        </div>


    </section>

</div>

<footer class="footer-video-container position-relative text-white">

    <!-- Video nền -->
    <video class="video-bg" autoplay muted loop playsinline>
        <source src="{{ site.baseurl }}/assets/video/flame.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="footer-section">
        <div class="row text-center text-md-start">

            <div class="col-12 col-md-12 col-lg-3 mb-5 mt-4 gy-4">
                <img src="{{ site.baseurl }}/assets/images/logo-white.png" alt="element"
                     style="height: 78px !important;">
                &nbsp&nbsp
                <img src="{{ site.baseurl }}/assets/images/logo-text-white.png" alt="element"
                     style="height: 33px !important;">

            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="fw-bold footer-title">POLICY</h5>
                <ul class="list-group">
                    <li><a href="#" class="footer-text text-white text-decoration-none">Privacy Policy</a></li>
                    <li><a href="#" class="footer-text text-white text-decoration-none">Terms and Conditions</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="fw-bold footer-title">CONTACT</h5>
                <ul class="list-group">
                    <li>
                        <div class="footer-text">Email:
                            <a href="mailto:agency@element-jsc.com"
                               class="text-white text-decoration-none">agency@element-jsc.com</a>
                        </div>
                    </li>
                    <li><a href="{{ site.baseurl }}/contact/" class="footer-text text-white text-decoration-none">For
                        More...</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-12 col-lg-3">
                <h5 class="fw-bold footer-title">CONNECT</h5>
                <div class="d-flex justify-content-center justify-content-md-start gap-3 fs-5">
                    <a href="https://www.facebook.com/elementvn2512/" target="_blank" class="social-icon text-white"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon text-white"><i class="fab fa-linkedin-in"></i></a>
                    <a href="mailto:agency@element-jsc.com" class="social-icon text-white"><i
                            class="fas fa-envelope"></i></a>
                </div>
            </div>

        </div>

        <div class="row text-center mt-4">
            <div class="col-12 col-lg-6">
                <div class="text-center opacity-75 footer-title-sub">
                    ELEMENT CONSULTANT & COMMUNICATION CO., LTD
                </div>
            </div>

            <div class="d-sm-none d-lg-block col-12 col-lg-6">
                <div class="text-center opacity-75 footer-title-sub">
                    <a href="mailto:agency@element-jsc.com"
                       class="text-white text-decoration-none">agency@element-jsc.com</a>
                </div>
            </div>

        </div>

    </div>
</footer>


</body>

{% include common-js.html %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const activeNav = document.getElementById('home-nav');
        if (activeNav) {
            activeNav.classList.add('page-trigger');
        }
    });
</script>

</html>


