<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% include common-css.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/policy.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common-style.css">

    <style>
        .content-section {
            padding: 4%;
            width: 90%;
            text-align: justify;
        }

        .header-1 {
            color: black;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            font-family: 'Sansation', sans-serif;
            text-align: left;
        }

        .header-2 {
            color: black;
            font-size: 1.6rem;
            font-weight: bold;
            margin-top: 1.5rem;
            font-family: 'Sansation', sans-serif;
        }

        .header-3 {
            color: black;
            display: inline-block;
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 0.6rem;
            font-family: 'Sansation', sans-serif;
        }

        .content-text {
            display: inline;
            color: black;
            font-size: 1.5rem;
            line-height: 1.6;
            margin-top: 1rem;
            font-family: 'Sansation', sans-serif;
        }

        .logo-bg-image {
            position: absolute;
            overflow: hidden;
            top: 28%;
            left: 70%;
            transform: translate(-50%, -50%);
            width: 800px;
            height: 600vh;
            opacity: 0.06;
            z-index: -1;
            clip-path: inset(300px 200px 300px 200px);
        }

    </style>

</head>
<body data-topbar="dark" data-layout="horizontal">
{% include header.html %}
<div class="custom-overlay"></div>
<div>
    <img src="{{ site.baseurl }}/assets/images/bg/bg-logo-black.png" alt="Element Logo" class="logo-bg-image">
</div>

<div class="container">
    <div class="hero-section d-flex align-items-center text-start">
        <div class="container">
            <div class="small-header ms-5 display-1 text-start hero-title animate__animated" data-animation="animate__fadeInUp">
                POLICY
            </div>
        </div>
    </div>

    <div class="content-section">
        <h2 class="header-1 animate__animated" data-animation="animate__fadeIn">
            Chính Sách (Policy) của Element Agency
        </h2>

        <h5 class="header-2 mt-5 animate__animated" data-animation="animate__fadeIn">
            1.1. Chính sách Bảo mật Dữ liệu (Data Privacy Policy)
        </h5>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <div class="content-text">
                Element Agency nhận thức sâu sắc về tầm quan trọng của việc bảo vệ quyền riêng tư
                và dữ liệu cá nhân trong kỷ nguyên số. Chúng tôi cam kết thiết lập và duy trì một môi trường
                bảo mật vững chắc cho tất cả dữ liệu cá nhân của khách hàng, đối tác, nhà cung cấp và nhân viên
                được thu thập, xử lý và lưu trữ trong quá trình hoạt động kinh doanh.
            </div>
        </div>

        <h6 class="header-2 mt-4 animate__animated" data-animation="animate__fadeIn">
            Nguyên tắc cốt lõi:
        </h6>
        <ul class="animate__animated" data-animation="animate__fadeIn">
            <li>
                <h6 class="header-3">Minh bạch và Công bằng:</h6>
                <div class="content-text">
                    Chúng tôi sẽ luôn thông báo rõ ràng về loại dữ liệu được thu thập, mục đích sử dụng
                    và cách thức xử lý. Mọi hoạt động xử lý dữ liệu đều được thực hiện một cách công bằng
                    và hợp pháp.
                </div>
            </li>
            <li>
                <h6 class="header-3">Hạn chế Mục đích:</h6>
                <div class="content-text">
                    Dữ liệu cá nhân chỉ được thu thập cho các mục đích cụ thể, rõ ràng và hợp pháp,
                    không được xử lý theo cách không tương thích với các mục đích đó.
                </div>
            </li>
        </ul>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Giảm thiểu Dữ Liệu:</h6>
            <div class="content-text">
                Chúng tôi chỉ thu thập và xử lý những dữ liệu cá nhân thực sự cần thiết cho mục đích đã xác định, tránh
                thu thập quá mức.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Chính xác:</h6>
            <div class="content-text">
                Dữ liệu cá nhân được duy trì chính xác và cập nhật khi cần thiết.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Hạn chế Lưu trữ:</h6>
            <div class="content-text">
                Dữ liệu cá nhân chỉ được lưu trữ trong khoảng thời gian cần thiết để đạt được mục đích thu thập hoặc
                theo yêu cầu của pháp luật.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Toàn vẹn và Bảo mật:</h6>
            <div class="content-text">
                Chúng tôi áp dụng các biện pháp bảo mật kỹ thuật và tổ chức tiên tiến để bảo vệ dữ liệu cá nhân khỏi sự
                truy cập trái phép, tiết lộ,
                thay đổi hoặc hủy hoại. Các biện pháp này bao gồm mã hóa dữ liệu,
                kiểm soát truy cập, tường lửa và đào tạo nhân viên.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Quyền của Chủ thể Dữ liệu:</h6>
            <div class="content-text">
                Element Agency tôn trọng và tạo điều kiện thuận lợi để chủ thể dữ liệu thực hiện các quyền của mình, bao
                gồm quyền truy cập, chỉnh sửa, xóa dữ liệu, quyền hạn chế xử lý và quyền phản đối xử lý, theo quy định
                của pháp luật hiện hành.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Chia sẻ Dữ liệu:</h6>
            <div class="content-text">
                Dữ liệu cá nhân sẽ không được chia sẻ với bên thứ ba (bao gồm các nhà cung cấp dịch vụ bên ngoài) mà
                không có sự đồng ý rõ ràng của chủ thể dữ liệu, trừ khi việc chia sẻ này là cần thiết để cung cấp dịch
                vụ, thực hiện các nghĩa vụ hợp đồng, hoặc theo yêu cầu của cơ quan pháp luật có thẩm quyền. Trong trường
                hợp chia sẻ, chúng tôi đảm bảo các bên thứ ba cũng tuân thủ các tiêu chuẩn bảo mật tương đương.
            </div>
        </div>

        <h2 class="header-2 mt-5  animate__animated" data-animation="animate__fadeIn">
            1.2. Chính sách Chất lượng Dịch vụ (Service Quality Policy)
        </h2>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <div class="content-text">
                Chất lượng là nền tảng cho mọi hoạt động của Element Agency. Chúng tôi cam kết mang đến những giải pháp
                Marketing sáng tạo, hiệu quả và đáng tin cậy, góp phần vào sự phát triển bền vững của khách hàng.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Tập trung vào Khách hàng:</h6>
            <div class="content-text">
                Chúng tôi luôn đặt lợi ích và sự hài lòng của khách hàng lên hàng đầu. Mọi chiến lược và hoạt động đều
                được xây dựng dựa trên sự hiểu biết sâu sắc về mục tiêu kinh doanh, đối tượng khách hàng và đặc thù
                ngành của Quý vị.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Đổi mới và Sáng tạo:</h6>
            <div class="content-text">
                Element Agency không ngừng nghiên cứu, cập nhật các xu hướng Marketing mới nhất, ứng dụng công nghệ tiên
                tiến và khuyến khích tư duy sáng tạo trong mọi dự án. Chúng tôi tin rằng sự đổi mới là chìa khóa để tạo
                ra những chiến dịch đột phá và hiệu quả vượt trội.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Chuyên nghiệp và Tận tâm:</h6>
            <div class="content-text">
                Đội ngũ chuyên gia của chúng tôi được đào tạo bài bản, có kinh nghiệm dày dặn và luôn làm việc với tinh
                thần trách nhiệm cao nhất. Từ khâu tư vấn, lập kế hoạch đến triển khai và báo cáo, mọi quy trình đều
                được thực hiện một cách tỉ mỉ, minh bạch và chuyên nghiệp.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Đo lường và Cải tiến liên tục:</h6>
            <div class="content-text">
                Chúng tôi áp dụng các công cụ và phương pháp đo lường hiệu quả chặt chẽ để theo dõi, đánh giá kết quả
                của mỗi chiến dịch. Dữ liệu và phản hồi từ khách hàng là cơ sở để chúng tôi liên tục phân tích, rút kinh
                nghiệm và cải tiến quy trình, dịch vụ nhằm đảm bảo chất lượng ngày càng được nâng cao.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Cam kết Hiệu quả:</h6>
            <div class="content-text">
                Mặc dù kết quả Marketing có thể bị ảnh hưởng bởi nhiều yếu tố thị trường, chúng tôi cam kết nỗ lực hết
                mình để đạt được các mục tiêu đã đề ra và mang lại giá trị thực sự cho Quý khách hàng thông qua các chỉ
                số đo lường hiệu suất (KPIs) rõ ràng và minh bạch.
            </div>
        </div>

        <h2 class="header-2 mt-5 animate__animated" data-animation="animate__fadeIn">
            1.3. Chính sách Tuân thủ Pháp luật và Đạo đức (Legal Compliance and Ethical Policy)
        </h2>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <div class="content-text">
                Element Agency hoạt động dựa trên các nguyên tắc về tính chính trực, minh bạch và tuân thủ pháp luật,
                góp phần xây dựng một môi trường kinh doanh lành mạnh và bền vững.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Tuân thủ Pháp luật:</h6>
            <div class="content-text">
                Chúng tôi cam kết tuân thủ tất cả các luật pháp, quy định và tiêu chuẩn ngành liên quan đến hoạt động
                kinh doanh tại Việt Nam và các thị trường quốc tế mà chúng tôi phục vụ, bao gồm luật lao động, luật cạnh
                tranh, luật sở hữu trí tuệ, luật bảo vệ người tiêu dùng và các quy định về quảng cáo.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Đạo đức Kinh doanh:</h6>
            <div class="content-text">
                Element Agency đề cao các giá trị đạo đức trong mọi giao dịch và tương tác. Chúng tôi không chấp nhận
                bất kỳ hình thức hối lộ, tham nhũng, gian lận hoặc cạnh tranh không lành mạnh nào. Mọi hoạt động quảng
                cáo đều được thực hiện một cách trung thực, không gây hiểu lầm hoặc xuyên tạc sự thật.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Trách nhiệm Xã hội:</h6>
            <div class="content-text">
                Chúng tôi ý thức về trách nhiệm của mình đối với cộng đồng và xã hội. Element Agency khuyến khích các
                hoạt động Marketing có trách nhiệm, góp phần tạo ra giá trị tích cực và tránh các nội dung hoặc chiến
                dịch có thể gây hại hoặc phân biệt đối xử.
            </div>
        </div>

        <div class="mt-3 animate__animated" data-animation="animate__fadeIn">
            <h6 class="header-3">Môi trường làm việc:</h6>
            <div class="content-text">
                Chúng tôi xây dựng một môi trường làm việc công bằng, tôn trọng, đa dạng và hòa nhập, nơi mọi nhân viên
                đều được đối xử bình đẳng, có cơ hội phát triển và được bảo vệ quyền lợi hợp pháp. Mọi hành vi quấy rối,
                phân biệt đối xử hoặc thiếu tôn trọng đều bị nghiêm cấm.
            </div>
        </div>

    </div>


</div>

{% include footer.html %}

</body>

<script>

    window.scrollTo(0, 0);

</script>

{% include common-js.html %}


</html>


