<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% include common-css.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/policy.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common-style.css">

</head>
<body data-topbar="dark" data-layout="horizontal">
{% include header.html %}
<div class="custom-overlay"></div>

<div class="container">
    <div class="hero-section d-flex align-items-center text-start">
        <div class="container">
            <div class="ms-5 display-1 text-start hero-title">POLICY</div>
        </div>
    </div>

</div>

{% include footer.html %}

</body>

{% include common-js.html %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const activeNav = document.getElementById('contact-nav');
        if (activeNav) {
            activeNav.classList.add('page-trigger');
        }
    });
</script>

</html>


