<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% include common-css.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common-style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/project.css">

</head>
<body data-topbar="dark" data-layout="horizontal">
{% include header.html %}
<div class="custom-overlay"></div>

<div>
    <img src="{{ site.baseurl }}/assets/images/bg/bg-logo-black.png" alt="Element Logo" class="logo-bg-image">
</div>

<div class="hero-section d-flex align-items-center text-start">
    <div class="container">
        <div class="display-1 text-start hero-title animate__animated" data-animation="word-fade-in" data-delay="0.2">
            OUR PROJECT
        </div>
    </div>
</div>

<section class="py-5">
    <div class="container mt-4">
        <h1 id="IMC-Campaign" class="lg-title-white animate__animated" data-animation="animate__fadeInUp"
            data-delay="0.2">
            IMC CAMPAIGN
        </h1>
    </div>
    <div class="container py-5">
        <div class="row row-eq-height g-4">

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue" style="background: linear-gradient(to right, #122c52, #143e40);">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/seabank1.png" alt="Image 1" class="card-img">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle">Khách hàng:</span>
                            <span class="card-subtitle">SeABank SMEs</span>
                        </div>
                        <div>
                            <span class="card-subtitle">Dự án:</span>
                            <span class="card-cus-text">Truyền thông ra mắt chính sách Loyalty KHDN</span>
                        </div>
                        <div>
                            <span class="card-subtitle">Thời gian:</span>
                            <span class="card-cus-text">1 tháng</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue"
                     style="background: linear-gradient(to right, #be1902, rgba(0,0,0,0.89));">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/seabank2.png" alt="Image 1" class="card-img">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle">Khách hàng:</span>
                            <span class="card-subtitle">SeABank SMEs</span>
                        </div>
                        <div>
                            <span class="card-subtitle">Dự án:</span>
                            <span class="card-cus-text">
                                Truyền thông chương trình ưu đãi “Kết nối vươn tầm - Khởi dựng hưng thịnh" kỷ niệm SeABank 30 năm
                            </span>
                        </div>
                        <div>
                            <span class="card-subtitle">Thời gian:</span>
                            <span class="card-cus-text">2 tháng</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row row-eq-height g-4 mt-4">

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue" style="background: linear-gradient(to right, #b9deff, #ededed);">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/toto.png" alt="Image 1" class="card-img">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-blue">Khách hàng:</span>
                            <span class="card-subtitle-blue">TOTO VIETNAM</span>
                        </div>
                        <div>
                            <span class="card-subtitle-blue">Dự án:</span>
                            <span class="card-cus-text-blue">Chương trình ưu đãi mùa hè năm 2023</span>
                        </div>
                        <div>
                            <span class="card-subtitle-blue">Thời gian:</span>
                            <span class="card-cus-text-blue">4 tháng</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue"
                     style="background: linear-gradient(to right, #fffef4, #ff0000);">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/viettel-money.png" alt="Image 1"
                             class="card-img">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-black">Khách hàng:</span>
                            <span class="card-subtitle-black">Viettel Money</span>
                        </div>
                        <div>
                            <span class="card-subtitle-black">Dự án:</span>
                            <span class="card-cus-text-black">
                                Chuyến xe tiếp sức mùa thi
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row row-eq-height g-4 mt-4">

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue" style="background: linear-gradient(to right, #60b27e, #005653);">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/YADEA.png" alt="Image 1" class="card-img"
                             style="width: auto; height: 250px;">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle">Khách hàng:</span>
                            <span class="card-subtitle">YADEA</span>
                        </div>
                        <div>
                            <span class="card-subtitle">Dự án:</span>
                            <span class="card-cus-text">Campaign đại diện di chuyển thông minh Tiến Linh</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue"
                     style="background: linear-gradient(to bottom, #89bcbc, #efdbd2);">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/viettel-money.png" alt="Image 1"
                             class="card-img">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-black">Khách hàng:</span>
                            <span class="card-subtitle-black">Viettel Money</span>
                        </div>
                        <div>
                            <span class="card-subtitle-black">Dự án:</span>
                            <span class="card-cus-text-black">
                                Chuyến xe tiếp sức mùa thi
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container mt-4 animate__animated" data-animation="animate__fadeInUp" data-delay="0.2">
        <h1 id="Production" class="lg-title-white">PRODUCTION</h1>
    </div>
    <div class="container py-5">
        <div class="row row-eq-height g-4">

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue"
                     style="background: linear-gradient(to bottom, #be1902 ,#000000, #e41313);">
                    <div class="image-section">
                        <iframe width="406" height="228" src="https://www.youtube.com/embed/ADl-qUq-OeY"
                                title="SEAPOWER by SeABank – CÂU LẠC BỘ ĐỘC QUYỀN NỮ CHỦ DOANH NGHIỆP" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle">Khách hàng:</span>
                            <span class="card-subtitle">SeABank SMEs</span>
                        </div>
                        <div>
                            <span class="card-subtitle">Dự án:</span>
                            <span class="card-cus-text">
                                Truyền thông chương trình ưu đãi “Kết nối vươn tầm - Khởi dựng hưng thịnh" kỷ niệm SeABank 30 năm
                            </span>
                        </div>
                        <div>
                            <span class="card-subtitle">Thời gian:</span>
                            <span class="card-cus-text">2 tháng</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue"
                     style="background: linear-gradient(to right, #353232, #979393);">
                    <div class="image-section">
                        <iframe width="406" height="228" src="https://www.youtube.com/embed/1C6xTtXF4dI"
                                title="SEABANK - Kết nối giá trị cho hành trình vươn xa | TVC SME" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle">Khách hàng:</span>
                            <span class="card-subtitle">SeABank SMEs</span>
                        </div>
                        <div>
                            <span class="card-subtitle">Dự án:</span>
                            <span class="card-cus-text">
                                Truyền thông chương trình ưu đãi “Kết nối vươn tầm - Khởi dựng hưng thịnh" kỷ niệm SeABank 30 năm
                            </span>
                        </div>
                        <div>
                            <span class="card-subtitle">Thời gian:</span>
                            <span class="card-cus-text">2 tháng</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row row-eq-height g-4 mt-4">

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue" style="background: linear-gradient(to right, #b9deff, #ededed);">
                    <div class="image-section">
                        <iframe width="403" height="226" src="https://www.youtube.com/embed/qbJAr2ZJ_oo"
                                title="TRỌN VẸN TỪNG KHOẢNH KHẮC GIA ĐÌNH CÙNG TOTO" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-blue">Khách hàng:</span>
                            <span class="card-subtitle-blue">TOTO VIETNAM</span>
                        </div>
                        <div>
                            <span class="card-subtitle-blue">Dự án:</span>
                            <span class="card-cus-text-blue">Chương trình ưu đãi mùa hè năm 2023</span>
                        </div>
                        <div>
                            <span class="card-subtitle-blue">Thời gian:</span>
                            <span class="card-cus-text-blue">4 tháng</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue" style="background: linear-gradient(to bottom, #b9deff, #ededed);">
                    <div class="image-section">
                        <iframe width="406" height="228" src="https://www.youtube.com/embed/WNPHds1uX_8"
                                title="IT’S TOTO TIME - TẬN HƯỞNG NHỮNG PHÚT GIÂY THƯ GIÃN CÙNG TOTO" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-blue">Khách hàng:</span>
                            <span class="card-subtitle-blue">TOTO VIETNAM</span>
                        </div>
                        <div>
                            <span class="card-subtitle-blue">Dự án:</span>
                            <span class="card-cus-text-blue">Chương trình ưu đãi mùa hè năm 2023</span>
                        </div>
                        <div>
                            <span class="card-subtitle-blue">Thời gian:</span>
                            <span class="card-cus-text-blue">6 tháng</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container mt-4">
        <h1 id="Event" class="lg-title-white animate__animated" data-animation="animate__fadeInUp" data-delay="0.2">
            EVENT
        </h1>
    </div>

    <div class="container py-5">
        <div class="row row-eq-height g-4">

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue"
                     style="background: linear-gradient(to right, #e8e7e1 ,#ff0000);">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/viettel-money1.png" alt="Image 1"
                             class="card-img">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-black">Khách hàng:</span>
                            <span class="card-subtitle-black">Viettel Money</span>
                        </div>
                        <div>
                            <span class="card-subtitle-black">Sự kiện:</span>
                            <span class="card-cus-text-black">
                                Viettel Money Activation
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue"
                     style="background: linear-gradient(to bottom, #dad8bf ,rgba(255,0,0,0.8));">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/viettel-money2.png"
                             style="width: 70%"
                             alt="Image 1" class="card-img">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-black">Khách hàng:</span>
                            <span class="card-subtitle-black">Viettel Money</span>
                        </div>
                        <div>
                            <span class="card-subtitle-black">Sự kiện:</span>
                            <span class="card-cus-text-black">
                                Giải nhiệt mùa hè
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row row-eq-height g-4 mt-4">

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue" style="background: linear-gradient(to bottom, #b9deff, #ededed);">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/toto2.png" alt="Image 1" class="card-img"
                             style="box-shadow: none">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-blue">Khách hàng:</span>
                            <span class="card-subtitle-blue">TOTO VIETNAM</span>
                        </div>
                        <div>
                            <span class="card-subtitle-blue">Sự kiện:</span>
                            <span class="card-cus-text-blue">Ra mắt sản phẩm 1H23</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="custom-card card-blue" style="background: linear-gradient(to right, #60b27e, #adc6c6);">
                    <div class="image-section">
                        <img src="{{ site.baseurl }}/assets/images/project/vinhomes.png" alt="Image 1" class="card-img">
                    </div>
                    <div class="card-content">
                        <div>
                            <span class="card-subtitle-green">Khách hàng:</span>
                            <span class="card-subtitle-green">Vinhomes</span>
                        </div>
                        <div>
                            <span class="card-subtitle-green">Sự kiện:</span>
                            <span class="card-cus-text-green">Kichoff VC Shophouse Royal Park</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<div class="video-container">
    <video class="video-bg" autoplay muted loop playsinline>
        <source src="{{ site.baseurl }}/assets/video/element.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="overlay">
        <h1 class="title text-white animate__animated" data-animation="word-fade-in" data-delay="0.2">
            OUR PORTFOLIO
        </h1>
        <div class="container">
            <div class="row justify-content-center tabs-row g-3 animate__animated" data-animation="animate__fadeInUp"
                 data-delay="0.2">
                <div class="col-12 col-md-4 tab d-flex justify-content-center align-items-center text-center"
                     style="width: 400px"
                     onclick="window.open('https://drive.google.com/file/d/1KclOnaVcHwovuV_tHoqE0s6dGbISNfSJ/view?usp=sharing', '_blank');">
                    <a href="https://drive.google.com/file/d/1KclOnaVcHwovuV_tHoqE0s6dGbISNfSJ/view?usp=sharing"
                       target="_blank" class="text-decoration-none text-white">SMES</a>
                </div>
                <div class="col-12 col-md-4 tab d-flex justify-content-center align-items-center text-center"
                     style="width: 400px"
                     onclick="window.open('https://drive.google.com/drive/folders/1z4y4Y6-0TdS4uk07zPlUJfeLozD3JEBX?usp=sharing', '_blank');">
                    <a href="https://drive.google.com/drive/folders/1z4y4Y6-0TdS4uk07zPlUJfeLozD3JEBX?usp=sharing"
                       target="_blank" class="text-decoration-none text-white">OTHERS</a>
                </div>
                <div class="col-12 col-md-4 tab d-flex justify-content-center align-items-center text-center"
                     style="width: 400px"
                     onclick="window.open('https://drive.google.com/file/d/1Tg3WJSggkK7iG1Dky5h6lHMDXGOF-4jB/view?usp=sharing', '_blank');">
                    <a href="https://drive.google.com/file/d/1Tg3WJSggkK7iG1Dky5h6lHMDXGOF-4jB/view?usp=sharing"
                       target="_blank" class="text-decoration-none text-white">MAJOR PROJECT</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% include footer.html %}

</body>

{% include common-js.html %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const activeNav = document.getElementById('project-nav');
        if (activeNav) {
            activeNav.classList.add('page-trigger');
        }
    });
</script>

</html>


